build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

*.exe
*.out
*.app
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib

*.log
*.tmp
*.swp
*.swo

*.DS_Store

.idea/
cmake-build-*/

.vscode/
*.code-workspace

# Ignore compile_commands.json
compile_commands.json
.cache
